body {
  margin: 0;
  padding: 0;
}
.main-page {
  display: flex;
}
#map {
  height: 90vh;
  width: 100vw;
}
.menu-icon {
  position: absolute;
  font-size: 2em;
  color: white;
  background-color: #257dc9;
  height: 3rem;
  width: 3rem;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  margin: 0.5rem;
  box-shadow: 12px 0px 10px 0px rgba(0, 0, 0, 0.493);
  cursor: pointer;
}
.menu-container {
  height: 90vh;
  width: 18rem;
  position: absolute;
  background-color: white;
  z-index: 1000;
  box-shadow: 2px 2px 5px 5px rgba(0, 0, 0, 0.493);
}
form {
  display: flex;
  flex-direction: column;
  box-shadow: 0 2px 5px 5px rgba(0, 0, 0, 0.493);
  width: 18rem;
  background-color: #257dc9;
  padding: 1rem;
}
form input {
  background-color: transparent;
  border: none;
  border-bottom: 2px solid white;
  width: 100%;
  color: white;
  border-radius: 0%;
}
.close-icon {
  font-size: 1.5em;
  color: white;
  margin-right: 1rem;
  cursor: pointer;
}
form > div {
  display: flex;
  align-items: center;
}
::placeholder {
  color: rgba(255, 255, 255, 0.61);
}
input:focus {
  outline: none;
}
.form-control,
.btn {
  height: 2rem;
  padding: 0 0.3rem;
  margin: 0.5rem 0;
}
ul {
  padding: 0;
  overflow: scroll;
  height: 509px;
}
li {
  padding: 1rem;
  list-style-type: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.39);
  padding-top: 1rem;
}
li h5 {
  cursor: pointer;
  text-transform: capitalize;
}
li h5:hover {
  text-decoration: underline;
  color: #257dc9;
}
.main-page,
.menu-container,
.map-container,
#map {
  max-height: 90vh;
}

footer{
  background-color: #257dc9;
  height: 10vh;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer > p {
  font-size: 0.7rem;
}

@media only screen and (max-width: 600px) {
  .menu-icon {
    box-shadow: none;
  }
}
